*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
   
 }

.nav-item .nav-link{
    font-size: 18px;
}


 header .carousel-inner{
    height: 640px;
    position: relative;
}


.carousel-inner h1, .span1, .span2, .p1, .img1, .butt{
    position: absolute;
    top: 46%;
    left: 33%;
    font-size: 20px;
    z-index: 2;
}
.carousel-inner .span1{
    position: absolute;
    top: 35%;
    color:brown;
    font-weight: bolder;
}
.carousel-inner h1{
    position: absolute;
    top: 43%;
    font-weight: bold;
}
.carousel-inner .span2{
    position: absolute;
    top: 48%;
    
}
.carousel-inner p{
    position: absolute;
    top: 54%;
   font-size: 14px;
}
.carousel-inner .butt{
    position: absolute;
    top: 68%;
    background-color:brown ;
    border-radius: 4px;
    border: none;
    padding: 6px 15px;
    
}

.carousel-inner .img1{
    position: absolute;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   left: 20%;
   top:35%;
}

.overlay{
    
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.8);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*======================= About me=========== */

.About{
    padding-top: 25px;
    background-color: rgb(37, 44, 44);
    
}
.line{
    width: 7%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-bottom: 30px;
   
 
}
.About .row-1{
    display: flex;
    padding-bottom: 2rem;
}
.About h1{
    margin-left: 44.5%;
    font-size: 37px;
}
.About .row-1 .imge{
    flex: 1  1 25rem;

}
.About .row-1 .imge img{
    margin-left:14rem ;
    object-fit: cover;
    border: 10px solid rgb(255, 252, 252);
    border-radius: 0.5rem;
    box-shadow:0 4px 2px rgba(0, 0, 0, 0.1) ;

}
.About .row-1 .content{
    flex: 1  1 50rem;
}
.About .row-1 .content h3{
    font-size: 2rem;
}
.About .row-1 .content p{
    font-size: 15.8px;
    padding: 0.3rem 0;
}
.About .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 10px 0;
}
.About .row-1 .content .box-container .box{
    flex: 1 1 70px;
}
.About .row-1 .content .box-container .box span{
    color:rgb(207, 40, 40) ;
    font-size: 20px;
}
.but{
    color:white;
    background-color:brown ;
    border-radius: 4px;
    border: none;
    padding: 6px 15px;
}

/* =======services== */
.sec2{
    background-color:rgb(26, 31, 31) ;
    padding-top: 50px;
    padding-bottom: 40px;
}


.container .heading{
text-align: center;

color:#fff;
text-shadow: 0 5px 10px rgba(0,0,0,.2);
font-size: 37px;
}

.container .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
gap:15px;
}

.container .box-container .box{
box-shadow: 0 5px 10px rgba(0,0,0,.2);
border-radius: 5px;
background: rgb(255, 253, 253);
text-align: center;
padding:30px 20px;
}

.container .box-container .box img{
height: 80px;
}

.container .box-container .box h3{
color:#444;
font-size: 22px;
padding:10px 0;
}

.container .box-container .box p{
color:#777;
font-size: 15px;
line-height: 1.8;
}

.container .box-container .box .btn{
margin-top: 10px;
display: inline-block;
background:brown;
color:#fff;
font-size: 17px;
border-radius: 5px;
padding: 8px 25px;
}

.container .box-container .box .btn:hover{
letter-spacing: 1px;
}

.container .box-container .box:hover{
box-shadow: 0 10px 15px rgba(0,0,0,.3);
transform: scale(1.03);
}
/* ===================Experinces============= */

.Eexp{
   
    background-color: rgb(37, 44, 44);
   
    padding-top: 60px;
    padding-bottom: 45px;
}

.Eexp h1{
    text-align: center;
}
.Eexp .boxx span{
    color: maroon;
    background-color: mistyrose;
    border-radius: 6px;
    margin-bottom: 8px;

}

.Eexp .boxx h3{
    color: rgb(224, 159, 159);
    font-weight: bolder;
}

.Eexp .boxx{
    padding: 24px 40px;
}
.Eexp i{
    padding-right: 10px;
    padding-bottom: 8px;
    color: crimson;
}
.Eexp p{
    font-size: 12.5px;
    
}

/* ============protfilo=================== */
.protfilo{
    background-color:rgb(30, 37, 37) ;
    padding-top: 50px;
   
    
}
.protfilo .cc{
    margin-bottom: 30px; 
}
.protfilo .cc img{
    width: 300px;
    height: 250px;
    transition: transform 0.5s;
  
}
.protfilo .cc img:hover{
    transform: translateY(-10px);

}

.protfilo .oo img{
    height: 250px;
}

.protfilo h1{
    text-align: center;
}

    /*==========================contact===================  */

    .contact{
        background-color: rgb(37, 44, 44);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact button{
        width: 100%;    
    }
    .contact h1{
        text-align: center;
    }

    /* ============footer============== */
    footer{
        padding:80px 0; color: rgb(8, 7, 7); background-color: rgb(247, 240, 240);
    }
    footer span{
        color: rgb(202, 50, 50);
    }
    footer a{color: #fff;}
    footer a:hover{
        color:rgb(202, 50, 50) ;
    }
    footer .list1 li:hover{
        color:rgb(202, 50, 50) ;
    }
    footer .list2 li{list-style: none;}
    footer i{background-color:rgb(202, 50, 50); padding:6px 9px; border-radius: 50%; margin-right: 5px;}
    .copyright{ padding-top: 10px;}
    .copyright  a{color:rgb(202, 50, 50); margin-left: 6px;}











 